@font-face {
  font-family: 'Economica';
  src: url('../assets/Economica-Regular-OTF.otf')
        format('opentype');
}

@font-face {
  font-family: 'Economica';
  src: url('../assets/Economica-Bold-OTF.otf')
        format('opentype');
  font-weight: bold;
}

body {
  font-family: 'Economica';
}

a {
  color: #06ACC9;
}

.heading {
  padding-left: 5px;
  font-size: 3em;
  width: 375px;
  height: 55px;
}

.spinner {
  text-align: center;
  width: 375px;
  /*height: 116px;*/
  height: 570px;
  padding-top: 220px;
}

.explore-image {
  width: 100%;
}

.explore-entry {
  text-align: center;
  width: 100%;
  font-family: 'Economica';
  padding: 0px;
}

.image {
  width: 375px;
  height: 280px;
  overflow: hidden;
}

.name {
  font-size: 2em;
  font-weight: bold;
  width: 375px;
  height: 40px;
  overflow: hidden;
}

.description {
  font-size: 1.3em;
  text-align: left;
  padding-left: 4px;
  padding-right: 4px;
  width: 375px;
  height: 120px;
  padding-top: 4px;
}

.reviews {
  font-size: 1.5em;
  font-weight: bold;
  width: 375px;
  height: 30px;
  overflow: hidden;
}

.rating {
  width: 375px;
  height: 20px;
  overflow: hidden;
}

.distance {
  font-size: 1.5em;
  width: 375px;
  height: 30px;
  overflow: hidden;
}

.address {
  font-size: 1.1em;
  width: 375px;
  height: 52px;
  overflow: hidden;
  padding-top: 4px;
}

.explore-footer {
  color: #06ACC9;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  text-align: center;
  font-size: 1.5em;
  width: 125px;
  height: 40px;
  overflow: hidden;
}

.explore-wrapper {
  overflow: hidden;
  width: 375px;
  height: 570px;
}

/* Auth */

.auth {
  height: 667px;
  width: 100%;
  background: black url('../assets/xplore_landing.png') no-repeat top left;
  background-size: 100%;
  text-align: center;
}

.auth .title {
  padding-top: 20px;
  color: white;
  font-size: 8em;
  letter-spacing: 20px;
  padding-left: 20px;
}

.sign-in {
  color: white;
  font-size: 2em;
  border: 2px solid #06ACC9;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 12px 24px 12px 26px; /* +2 to left to offset letter-spacing */
}

.sign-in:focus,
.sign-in:active {
  text-decoration: none;
  color: white;
}

.auth .vertical {
  position: fixed;
  top: 85%;
  width: 100%;
}

.auth .horizontal {
  margin: 0 auto;
  text-align: center;
}

/* Itinerary List */
.location-container {
  padding-left:20px;
}

.location-info {
  float: left;
}

.location-options {
  float: right;
  padding-right: 20px;
  width: 120px;
  margin-top: 13px;
}

.glyphicon-remove-circle {
  float: left;
  font-size: 3em;
}

.uber-icon-container{
  float: right;
}

.uber-icon {
  width: 45px;
}

.selected {
  background-color: #E6E6E6;
}

.explore-link-container {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

/* Itinerary Map */

.map-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.map {
  position: absolute;
  top: 70px;
  left: 0;
}

.angular-google-map-container {
  height: 555px;
  width: 375px;
}

.map-link-container {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  height: 47px;
  bottom: 0;
  border-top: 2px solid #06ACC9;
}

.map-link-container a {
  text-align: center;
  line-height: 2;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 49.5%;
  margin: 0;
  padding: 0 20px;
  background-color: white;
}

.map-link-container a:last-child {
  border-left: 2px solid #06ACC9;
}

.map-footer-wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.map-footer {
  color: #06ACC9;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1.5em;
  width: 125px;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
  bottom: 2px;
}

.list-link,
.map-link {
  font-size: 1.5em;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}
