@font-face {
  font-family: 'Economica';
  src: url('../assets/Economica-Regular-OTF.otf')
        format('opentype');
}

@font-face {
  font-family: 'Economica';
  src: url('../assets/Economica-Bold-OTF.otf')
        format('opentype');
  font-weight: bold;
}

body {
  font-family: 'Economica';
}

a {
  color: #06ACC9;
}

.ride-status {
  line-height: 1.5;
  background-color: #06ACC9;
  color: white;
  text-align: center;
  position: fixed;
  font-size: 2.5em;
  width: 375px;
  height: 55px;
  z-index: 40;
}

.heading {
  text-align: center;
  padding-left: 5px;
  font-size: 3em;
  width: 375px;
  height: 55px;
}

.landing {
  width: 375px;
  height: 570px;
  overflow: hidden;
}

.landing-icon-left {
  float: left;
  margin: 12px 12px 12px 23px;
  padding: 8px 25px 0px 25px;
  width: 150px;
  height: 150px;
  border: 3px solid #06ACC9;
  border-radius: 10px;
  font-size: 1.9em;
  text-align: center;
}

.landing-icon-right {
  float: left;
  margin: 12px 23px 12px 12px;
  padding: 8px 25px 0px 25px;
  width: 150px;
  height: 150px;
  border: 3px solid #06ACC9;
  border-radius: 10px;
  font-size: 1.9em;
  text-align: center;
}

.landing-icon {
  width: 100px;
  height: 100px;
}

.landing-instructions {
  float: left;
  margin: 12px 26px 0px 23px;
  padding: 12px 15px;
  font-size: 1.4em;
  border: 3px solid #888;
  border-radius: 10px;
  height: 175px;
  width: 325px;
  color: #888;
}

.spinner {
  text-align: center;
  width: 375px;
  /*height: 116px;*/
  height: 570px;
  padding-top: 220px;
}

.explore-wrapper {
  overflow: hidden;
  width: 375px;
  height: 570px;
}

.explore-image {
  width: 100%;
}

.explore-entry {
  text-align: center;
  width: 100%;
  font-family: 'Economica';
  padding: 0px;
}

.image {
  width: 375px;
  height: 280px;
  overflow: hidden;
}

.name {
  font-size: 2em;
  font-weight: bold;
  width: 375px;
  height: 40px;
  overflow: hidden;
}

.description {
  font-size: 1.3em;
  text-align: left;
  padding-left: 4px;
  padding-right: 4px;
  width: 375px;
  height: 120px;
  padding-top: 4px;
}

.reviews {
  font-size: 1.5em;
  font-weight: bold;
  width: 375px;
  height: 30px;
  overflow: hidden;
}

.rating {
  width: 375px;
  height: 20px;
  overflow: hidden;
}

.distance {
  font-size: 1.5em;
  width: 375px;
  height: 30px;
  overflow: hidden;
}

.address {
  font-size: 1.1em;
  width: 375px;
  height: 52px;
  overflow: hidden;
  padding-top: 4px;
}

.explore-footer {
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  text-align: center;
  font-size: 1.5em;
  width: 125px;
  height: 40px;
  overflow: hidden;
}

.disabled {
  color: #888;
}

.enabled {
  color: #06ACC9;
}

/* Auth */

.auth {
  height: 667px;
  width: 100%;
  background: black url('../assets/xplore_landing.png') no-repeat top left;
  background-size: 100%;
  text-align: center;
}

.auth .title {
  padding-top: 20px;
  color: white;
  font-size: 8em;
  letter-spacing: 20px;
  padding-left: 20px;
}

.sign-in {
  color: white;
  font-size: 2em;
  border: 2px solid #06ACC9;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 12px 24px 12px 26px; /* +2 to left to offset letter-spacing */
}

.sign-in:focus,
.sign-in:active {
  text-decoration: none;
  color: white;
}

.auth .vertical {
  position: fixed;
  top: 85%;
  width: 100%;
}

.auth .horizontal {
  margin: 0 auto;
  text-align: center;
}

/* Itinerary */

.it-heading {
  text-align: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding-left: 5px;
  font-size: 3em;
  width: 375px;
  height: 55px;
  border-bottom: 1px solid #eee;
}

.it-footer-wrapper {
  border-top: 1px solid #eee;
  background-color: white;
  z-index: 2;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.it-footer {
  box-sizing: border-box;
  color: #06ACC9;
  text-align: center;
  height: 40px;
}

.it-footer div {
  display: inline-block;
  width: 125px;
  height: 40px;

  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1.5em;
  overflow: hidden;
}


/* Itinerary List */
.location-list {
  position: relative;
  top: 55px;
  height: 572px;
  overflow: scroll;
}

.location-container {
  padding-left:20px;
}

.location-info {
  float: left;
}

.location-distance {
  margin-top: -8px;
}

.location-options {
  float: right;
  padding-right: 20px;
  width: 120px;
  margin-top: 13px;
}

.glyphicon-remove-circle {
  float: left;
  font-size: 3em;
}

.uber-icon-container{
  float: right;
}

.uber-icon {
  width: 45px;
}

.selected {
  background-color: #E6E6E6;
}

.tip {
  padding: 4px;
  font-size: 2em;
  color: #ccc;
  text-align: center;
}

.tip p {
  margin-top: 20px;
}

.tip .smiley {
  font-size: 3em;
}

/* Itinerary Map */

.map {
  position: absolute;
  top: 55px;
  left: 0;
}

.angular-google-map-container {
  height: 572px;
  width: 375px;
}


/* Uber Modal */
.uber-modal .modal-content {
  /*min-height: 520px;*/
  /* Format the modal window to fit within the screen */
  margin: 75px 10px 0 10px;
  padding: 0 10px;
}

.uber-title-container {
  text-align: center;
}

.uber-title {
  width: 300px;
}

.products-list {
  max-height: 400px;
  overflow: scroll;
}

.product-container {
  overflow: auto;
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.product-name {
  float: left;
  margin-left: 10px;
}
.product-info {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;;
}

.request-details {
  text-align: center;
}

.request-details .heading {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.request-details .details {
  font-size: 1.5em;
  text-align: center;
}

.request-details .ok {
  font-size: 1.5em;
  display: inline-block;
  margin: 40px auto;
  padding: 8px 32px;
  color: #06ACC9;
  border: 1px solid #06ACC9;
  border-radius: 6px;
}
