<h1>Xplore</h1>
<a class="map-link" ui-sref="map">Map</a>
<div class="location-container row" ng-repeat="location in locations" ng-click="select($index)"
      ng-class="{selected: selected === $index}">
  <div class="location-info">
    <h2>{{ location.name }}</h2>
    <!-- {{ location.distance }} -->
  </div>
  <div class="location-options" ng-hide="selected !== $index">
    <div class="remove" ng-click="remove()">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </div>
    <div class="uber-icon-container" ng-click="openUberOptions()">
      <img class="uber-icon" src="/assets/UBER_API_Badges_1x_78px.png">
    </div>
  </div>
</div>

<!-- Return to Explore state to select more options -->
<div class="explore-link-container">
  <a class="explore-link" ui-sref="explore">Explore</a>
</div>
